# **Precision, Recall, F1 Score**

In [40]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [41]:
# DataSet Link : https://bit.ly/3WtofXB
heart_data = pd.read_csv("/content/heart.csv")

In [42]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [43]:
heart_data.shape

(303, 14)

In [44]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [45]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [46]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [47]:
x = heart_data.drop(columns = 'target',axis = 1) 
y = heart_data['target']

In [48]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [49]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [51]:
print(x.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training

In [52]:
model = LogisticRegression(max_iter=10000)

In [53]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=10000)

Accuracy Score

In [54]:
training_data_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(y_train, training_data_prediction)
print("Accuracy of training data: ", training_data_accuracy)

Accuracy of training data:  0.8553719008264463

In [55]:
test_data_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(y_test, test_data_prediction)
print("Accuracy of test data: ", test_data_accuracy)

Accuracy of test data:  0.8032786885245902

# **Precision**

It measures out of the total number of predicted positive how many are atually positive.

In [56]:
from sklearn.metrics import precision_score

In [57]:
training_data_prediction = model.predict(x_train)
training_data_accuracy = precision_score(y_train, training_data_prediction)
print("Accuracy of training data: ", training_data_accuracy)

Accuracy of training data:  0.8299319727891157

In [58]:
test_data_prediction = model.predict(x_test)
test_data_accuracy = precision_score(y_test, test_data_prediction)
print("Accuracy of test data: ", test_data_accuracy)

Accuracy of test data:  0.8181818181818182

# **Recall**

It measures out of the total number actual positive hoe many are predicted as True positive

In [59]:
from sklearn.metrics import recall_score

In [60]:
training_data_prediction = model.predict(x_train)
training_data_accuracy = recall_score(y_train, training_data_prediction)
print("Accuracy of training data: ", training_data_accuracy)

Accuracy of training data:  0.9242424242424242

In [61]:
test_data_prediction = model.predict(x_test)
test_data_accuracy = recall_score(y_test, test_data_prediction)
print("Accuracy of test data: ", test_data_accuracy)

Accuracy of test data:  0.8181818181818182

# **F1 Score**

F1 score is an important evaluation metric for binary classification that combines Precision & Recall.

In [62]:
from sklearn.metrics import f1_score

In [63]:
training_data_prediction = model.predict(x_train)
training_data_accuracy = f1_score(y_train, training_data_prediction)
print("Accuracy of training data: ", training_data_accuracy)

Accuracy of training data:  0.8745519713261649

In [64]:
test_data_prediction = model.predict(x_test)
test_data_accuracy = f1_score(y_test, test_data_prediction)
print("Accuracy of test data: ", test_data_accuracy)

Accuracy of test data:  0.8181818181818182